.auth-page{
  display:flex;
  flex-direction:column;
  gap:3rem;
  align-items: center;
  padding-top:4rem;

  &__text{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:0.5rem;

    &__header{
      font-size:2rem;
      font-weight: 600;
      display:flex;
      align-items: center;
      gap:1rem;
      line-height:0;
    }

    &__paragraph{
      font-size: 1.5rem;
      margin:0;
      max-width: 30rem;
      text-align:center;
    }
  }

  &__form{
    display:flex;
    flex-direction: column;
    gap:1rem;
  }
}