.single-dish-result {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem 0;

  img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 0.25rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h3, h1 {
      margin: 0;
    }
  }

  &__basic-info-bar {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding-top: 4rem;
    display: flex;
    gap: 8rem;
    justify-content: center;

    &__item {
      h4 {
        margin: 0;
        font-weight: 400;
      }

      h3 {
        margin-top: 1rem;
        margin-bottom: 0;
      }

      &:last-of-type{
        text-align: center;
      }
    }

  }

  &__data-bar {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;


    &__description {
      font-size: 1.2rem;
      max-width: 500px;
      text-align: justify;
    }

    &__specification {
      display: flex;
      flex-direction: column;
      gap:1rem;

      h5 {
        margin: 0;
        font-weight: 500;
      }

      text-align: center;
      -webkit-box-shadow: 0 0 24px -14px rgba(66, 68, 90, 1);
      -moz-box-shadow: 0 0 24px -14px rgba(66, 68, 90, 1);
      box-shadow: 0 0 24px -14px rgba(66, 68, 90, 1);
      border-radius: 1rem;
      padding: 1.5rem;
    }
  }

  &__lists{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:3rem;
    align-items: flex-start;
  }

  &__ingredients {
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
    -webkit-box-shadow: 0 0 24px -16px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0 0 24px -16px rgba(66, 68, 90, 1);
    box-shadow: 0 0 24px -16px rgba(66, 68, 90, 1);
    border-radius: 0.5rem;
    padding: 2rem 2.5rem;

    h2 {
      margin: 0;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap:1rem;

      &__item {
        text-align: justify;
        font-size: 1.125rem;
      }
    }

  }

  &__instruction{
    display: flex;
    flex-direction: column;
    gap:2rem;

    &__item{
      background: rgba(229, 228, 226, 0.25);
      padding:1.5rem 3rem;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      gap: 2rem;
      h1{
        margin:0;
        color: #757bc8;
      }
      p{
        margin: 0;
        font-size: 1.125rem;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .single-dish-result {
    &__basic-info-bar {
      gap:3rem;
    }

    &__lists{
      display: flex;
      flex-direction: column;

      .single-dish-result__instruction{
        order:2;
      }

      .single-dish-result__ingredients{
        width: 100%;

        &__list{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap:1rem;
        }

      }
    }
  }
}

@media screen and (max-width: 768px) {
  .single-dish-result{
    &__basic-info-bar {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    &__data-bar{
      flex-direction: column;
      gap:2rem;

      &__specification{
        width: 100%;
      }
    }
  }
}