a:has(.feature-card){
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
}

.feature-card{
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
  padding:2rem;
  display:flex;
  flex-direction: column;
  cursor: pointer;
  height: 100%;
  transition: box-shadow 0.2s ease-in-out;

  span.material-icons{
    align-self: flex-end;
    margin-bottom: 1.5rem;
  }

  &__header{
    margin:0;
  }
  &__paragraph{
    font-size: 1.1rem;
  }

  &:hover{
    -webkit-box-shadow: 0px 0px 12px 2px rgba(147, 148, 154, 0.7);
    -moz-box-shadow: 0px 0px 12px 2px rgba(147, 148, 154, 0.7);
    box-shadow: 0px 0px 12px 2px rgba(147, 148, 154, 0.7);
  }
}