.list-input{
  &__container{
    display: flex;
    width: 100%;
    align-items: center;
    gap:1rem;
  }

  &__list{
    margin:1rem 0 0;
    padding:0;
    display: flex;
    gap:0.5rem;
    flex-wrap: wrap;
    &__item{
      list-style-type: none;
      margin:0;
      padding:0;
    }
  }
}