*{
    box-sizing: border-box;
}

:root{
    margin:0;
    padding:0;
    color:#212427;
}

body{
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@keyframes fadein {
    0% {opacity: 0}
    100% {opacity: 1}
}

.container{
    width:100%;
    max-width: 1400px;
    margin:0 auto;
    padding:0 2rem;

    &:not(.navbar__container){
        animation: fadein 0.5s;
    }
}



