*{
    box-sizing: border-box;
}

:root{
    margin:0;
    padding:0;
}

body{
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container{
    width:100%;
    max-width: 1400px;
    margin:0 auto;
    padding:0 2rem;
}