$color-navy-dark: #757bc8;
$color-navy: #8e94f2;
$color-purple: #ada7ff;
$color-purple-light: #cbb2fe;
$color-bg-light: #edf2fb;
$color-blue-light: #d7e3fc;
$color-blue: #d7e3fc;
$color-blue-dark: #abc4ff;