@import '../../variables.scss';

.home-page{
  padding-top:4rem;
  padding-bottom:4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:4rem;

  &__hero{
    display: flex;
    width: 100%;
    position: relative;
    -webkit-box-shadow: 0 10px 23px 0 rgba(236, 235, 255, 1);
    -moz-box-shadow: 0 10px 23px 0 rgba(236, 235, 255, 1);
    box-shadow: 0 10px 23px 0 rgba(236, 235, 255, 1);
    height: 38rem;

    &__images{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 34rem;

      &__item{
        height: 100%;
      }

      img{
        width: 100%;
        max-height: 34rem;
        object-fit:cover;
        display: flex;
      }
    }

    &__content{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: rgb(173,167,255);
      background: linear-gradient(0deg, rgba(173,167,255,1) 15%, rgba(230,230,230,0) 45%, rgba(255,255,255,0.45) 100%);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding:1rem 3rem;
      color: #fff;

      &__header{
        font-size: 8rem;
        font-weight: 600;
        margin:0;
      }

      &__paragraph{
        text-align: left;
        line-height: 1.5;
        font-size: 1.1rem;
      }
    }
  }

  &__features{
    display: flex;
    flex-direction: column;
    gap:1.5rem;

    &__header{
      color: rgba(0, 0, 0, 0.75);
    }

    &__grid{
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 1024px) {
  .home-page{
    &__hero{
      &__images{
        grid-template-columns: repeat(2, 1fr);

        div:nth-of-type(2){
          display: none;
        }
      }

      &__content{
        &__header{
          font-size: 6rem;
        }
      }
    }

    &__features{
      max-width: 38rem;
      align-items: center;
      &__grid{
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home-page{
    &__hero{
      &__images{
        grid-template-columns: 1fr;

        div:nth-of-type(2), div:nth-of-type(3){
          display: none;
        }
      }
    }
  }
}